@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

:root{
    --primary-color: #084B83;
    --secondary-color: #42BFDD;
    --accent1-color: #BBE6E4;
    --accent2-color: #F0F6F6;
    
    --heading-font: 'Bree Serif', serif;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color: var(--accent1-color);
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 5px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color:var(--nav-hover-link-color)
}

nav a:hover{
    color:var(--nav-hover-color);
    background-color: var(--nav-hover-background-color);
}