@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    font-size: 1.2em;
    color: rgb(240, 223, 197);
    background: rgb(1, 1, 27);
}

header {
    margin: 0 auto;
    width: 800px;
}

h1 {
   font-size: 1.5em; 
   text-align: center;
   margin: 1rem;
   text-align: center;
}

form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px, solid, rgb(0,0,0,0.1);
    background-color: white;
    border-radius: 0.5rem;
    color: rgb(1,1,27);
    display:grid;  
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
}

legend {
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.4rem;
}

label, input, button, select, textarea {
    font-family: 'Bree Serif', Arial, Helvetica, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: larger;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    background-color: rgb(1, 1, 27);
    color: rgb(240, 223, 197);
    border-radius: .5rem;
    margin: 1rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: navajowhite;
    color:rgb(1, 1, 27);
}

footer {
    margin: 1rem auto 0;
    width: 800px;
    text-align: center;
    font-size: .9rem;
    padding: 0.5rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
