* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #5F9EA0;
    padding: 10px;
}

nav a{
    color:black;
    display: block;
    padding: 20px;
}

nav a:hover{
    color:white
}

h1{
    color: #5F9EA0;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid #5F9EA0;
    padding: 2px;
    box-shadow: 0 0 30px black;
    float: right;
}

p{
    padding: 0;
}

main{
    max-width: 840px;
}

main ul{
    clear:both;
}

aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}

footer{
    margin-top: 2rem;
    border-top: 5px solid black;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 2px solid rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: #5F9EA0;
    color: black;
}